DB_PORT=5432
DB_DATABASE=store
DB_USERNAME=grosery
DB_PASSWORD=xDpwtfcCHxFD7bNd

REDIS_PORT=6379

API_PORT=8080
SUPPLIER_PRIMARY_PORT=8081
SUPPLIER_FALLBACK_PORT=8082

COMPOSE_NETWORK=digital-store-net

SUPPLIER_PRIMARY_ERROR_RATE=0.0
SUPPLIER_PRIMARY_TIMEOUT_RATE=0.0
SUPPLIER_PRIMARY_TIMEOUT_SECONDS=30

SUPPLIER_FALLBACK_ERROR_RATE=0.0
SUPPLIER_FALLBACK_TIMEOUT_RATE=0.0
SUPPLIER_FALLBACK_TIMEOUT_SECONDS=30
