/.idea/
/.vscode/
*.log
.DS_Store
Thumbs.db
.env
__pycache__/
*.pyc

/services/store-api/vendor/
/services/store-api/node_modules/
/services/store-api/.env
/services/store-api/.env.backup
/services/store-api/.phpunit.result.cache
/services/store-api/storage/*.key
/services/store-api/storage/logs/*
/services/store-api/storage/framework/cache/*
/services/store-api/storage/framework/sessions/*
/services/store-api/storage/framework/views/*
/services/store-api/bootstrap/cache/*
!/services/store-api/storage/logs/.gitignore
!/services/store-api/storage/framework/cache/.gitignore
!/services/store-api/storage/framework/sessions/.gitignore
!/services/store-api/storage/framework/views/.gitignore
!/services/store-api/bootstrap/cache/.gitignore
